.library {
    margin-top: 60px;
}

.library h2 {
	text-align: center;
}

.library h3 {
	padding-top: 3px;
}

.library > p {
	text-align: center;
	margin-bottom: 50px;
}

.album-box-div {
	text-align: center;
	margin: 0;
	
}

.library img{
	height: 200px;
	width: 200px;
    border: 1px solid white;
}

.album-div-library {
	display:inline-block;
	text-decoration: none;
	width: 350px;
}